@font-face {
  font-family: "ITC Franklin Gothic Std";
  src: url(../../fonts/ITCFranklinGothicStd-Med.ttf);
}

:root {
  --primary-color: #fff;
  --main-color: #353c7c;
  --btn-effect: #3ae1ac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "ITC Franklin Gothic Std";
  font-size: 1rem;
}

main {
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-rows: 20vh 80vh;
}

.layout .layout-logo {
  background-color: var(--primary-color);
}

.logo-layoutdti {
  flex-direction: row;
  place-content: center;
  text-align: center;
  margin-top: 80px;
}

.logo-dti {
  width: 80%;
  max-width: 300px;
}

.layout .layout-form {
  background-color: var(--main-color);
  border-radius: 35px 35px 0 0;
  flex-direction: row;
  place-content: center;
}

.logo-layout {
  text-align: center;
  margin-bottom: 50px;
}

.logo-layout .logo-system {
  width: 200px;
  height: auto;
}

.area-content {
  border-radius: 10px;
  margin: 0 50px;
  background-color: var(--primary-color);
  display: flex;
  place-content: center;
}

.area-content .form-content {
  width: 100%;
  padding: 20px 10px 10px 10px;
}

.input {
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
}

.form-content label {
  font-size: 1.2rem;
  color: var(--main-color);
}

.input-name,
.input-computer,
.input-problem {
  padding: 5px;
  outline: none;
  border: 2px solid var(--main-color);
  width: 100%;
  border-radius: 8px;
}

.form-content .input-problem {
  width: 100%;
  resize: none;
}

.btn-container {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  display: block;
  width: 70%;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--main-color);
  font-size: 1rem;
  font-weight: bold;
}

.btn-submit:active {
  background-color: var(--btn-effect);
  color: var(--primary-color);
}

@media (min-width: 769px) {
  .area-content {
    max-width: 900px;
    margin: 0 auto;
  }

  .btn-submit {
    width: 50%;
  }
}